<div class="container">
  
      <br>

        <h1>
          {{title}}
        </h1>
  
      <br>

        <h1 *ngIf="state == -1" class="text-danger"> Loading ... </h1>

      <br>
      
      <div *ngIf="state == 0">
        <table  class="table" >
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
            </tr>
          </thead>
          <tbody>

              <tr *ngFor="let film of films | paginate: {itemsPerPage: 5, currentPage: p}; index as i">
                <th scope="row"> Episode: {{film.episode_id}}</th>
                <td><a href="#" (click)="changeState($event, i,p)" >{{ film.title }}</a></td>
                <td>{{ film.opening_crawl }}</td>
              </tr>

          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>

      
      <div *ngIf="state >= 1">
        <div class="card">
          <div class="card-header">
            Episode: {{ films[state-1].episode_id }} Title: {{ films[state-1].title }}
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Director: {{ films[state-1].director }}</li>
            <li class="list-group-item">Producer: {{ films[state-1].producer }}</li>
            <li class="list-group-item">Release date: {{ films[state-1].release_date }}</li>
            <li class="list-group-item">Created date: {{ films[state-1].created }} </li>
            <li class="list-group-item">{{ films[state-1].opening_crawl }}</li>
          </ul>
        </div>
        <br>
        <button type="button" class="btn btn-dark" (click)="changeState($event, -1,0)">Go Back</button>
        <br>
        <br>
      </div>
      <br>
    </div>
    <br>
    
  <router-outlet></router-outlet>